name: Kernel Build CI

on:
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout Repository
        uses: actions/checkout@v3

      - name: Load config.env to Environment
        run: |
          while IFS='=' read -r key value; do
            if [[ ! "$key" =~ ^# && "$key" != "" ]]; then
              echo "$key=$value" >> $GITHUB_ENV
            fi
          done < config.env

      - name: Get Date & Time (WIB)
        id: date
        run: |
          echo "date=$(TZ='Asia/Jakarta' date +'%Y%m%d')" >> $GITHUB_OUTPUT
          echo "time=$(TZ='Asia/Jakarta' date +'%H:%M:%S WIB')" >> $GITHUB_OUTPUT

      - name: Setup Build Dependencies
        run: |
          sudo apt update
          sudo apt install -y bc bison flex libssl-dev libncurses-dev curl git zip

      - name: Make build.sh Executable
        run: chmod +x build.sh

      - name: Run Kernel Builder
        run: ./build.sh

      - name: Upload Flashable ZIP
        if: success()
        uses: actions/upload-artifact@v4
        with:
          name: Flashable-Kernel
          path: AnyKernel3/*.zip
          
